.bpcontain {
  background: royalblue;
  padding: 20px;
  font-size: medium;
}

.bp2contain {
  background: seagreen;
}

.bg1_for_grid {
  background: skyblue;
}

.bg2_for_grid {
  background: orange;
}

.highlight_bg {
  background: salmon;
}

.image {
  height: 600px;
  width: 100%;
}

.jmpbg {
  color: white;
  background: black;
}

.sb {
  border-radius: 20px;
  margin-left: 200px;
}
hr {
  border: 1px solid red;
}

.page {
  color: orangered;
}
